/* font from https://github.com/pixeldroid/fonts */
@font-face {
  font-family: pixeldroid;
  src: url("pixeldroidMenuRegular.ttf") format("truetype");
}

body {
  margin: 0;
  border: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: rgb(35, 119, 172); */
  overflow: hidden;
  font-family: 'pixeldroid', 'Courier New', Courier, monospace;

  /* background: linear-gradient(270deg, #1dc3cc, #d314c3);
  background-size: 400 400;

  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite; */
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

#container {
  position: fixed;
  top:0;
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;
  gap: 0px;
  padding: 1em;

  /* padding-right: 160px;
  padding-left: 160px; */
  /* padding-top: 20px;
  padding-bottom: 20px; */
  box-sizing: border-box;
}

#container > * {
  top: 0;
  left: 0;
}

.bitsy-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* width: fit-content; */
  transition: flex-grow 500ms;
  margin: 1em;
  padding: 0;
  max-height: 100vh;
  aspect-ratio: 1 / 1;
}

.removed {
  flex-grow: 0.00001;
}

.game-selector, .game-iframe{ 
  border: 0;
  padding: 0;
  /* max-width: 492px;
  max-height: 492px;
  min-width: 492px;
  min-height: 492px; */
  /* max-width: 492;
  max-height: 492px; */
  aspect-ratio: 1 / 1;
  /* height: 100%; */
  /* min-width: 492px;
  max-width: 492px; */
  /* width: // */
  background-color: blueviolet;
  font-size: 40px;
  /* padding: 1em; */
  box-shadow: 0.5em 0.5em 0px rgba(0, 0, 0, 0.75);
  box-sizing: content-box;
  /* overflow: hidden; */
}

.game-title {
  background-color: transparent;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.game-title:hover {
  background-color: #fff700;
}

.selected {
  background-color: #fff700;
}

.selected::after {
  content: ">";
  float: right;
}

/* iframe {
  border: 0;
  max-width: 512px;
  max-height: 512px;
  height: 100%;
  width: 100%;
  font-size: 40px;
  box-shadow: 0.5em 0.5em 0px rgba(0, 0, 0, 0.75);
} */

#background {
  display: flex;
  height: 100vh;
  width: 100vw;
  color: aliceblue;
  /* background-color: transparent; */
  align-content: center;
  align-items:center;
  justify-content: center;
  clear: both;

  background: linear-gradient(270deg, #1dc3cc, #ff00ea);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 16s ease infinite;
  -moz-animation: AnimationName 16s ease infinite;
  animation: AnimationName 16s ease infinite;

}

#title {

}

