/* font from https://github.com/pixeldroid/fonts */
@font-face {
  font-family: pixeldroid;
  src: url("pixeldroidMenuRegular.ttf") format("truetype");
}

:root {
  --shadow-offset: 0.30em;
}

* {
  user-select: none;
}

body {
  margin: 0;
  border: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: rgb(35, 119, 172); */
  overflow: hidden;
  font-family: 'pixeldroid', 'Courier New', Courier, monospace;
  font-size: 30px;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}


#background {
  display: flex;
  height: 100vh;
  width: 100vw;
  color: aliceblue;
  align-content: center;
  justify-content: center;
  clear: both;
  image-rendering: pixelated;

  background: linear-gradient(270deg, #1dc3cc, #ff00ea);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 16s ease infinite;
  -moz-animation: AnimationName 16s ease infinite;
  animation: AnimationName 16s ease infinite;
}

#blank {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  justify-self: center;
  gap: 0.5em;
}

#debug {
  position: fixed;
  top:2em;
  left: 1em;
  background-color: transparent;
  color: black;
}

#help {
  display: block;
  position: fixed;
  bottom:1em;
  left: 1em;
  padding: 0.5em;
  background-color: whitesmoke;
  color: black;
  box-shadow: var(--shadow-offset) var(--shadow-offset) 0px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#about {
  display: block;
  position: fixed;
  top:1em;
  left: 1em;
  padding: 0.5em;
  background-color: rgb(229, 255, 0);
  color: black;
  box-shadow: var(--shadow-offset) var(--shadow-offset) 0px rgba(0, 0, 0, 0.5);
  z-index: 555;
}

ul {
  list-style-type:none;
}

.hide {
  display: none !important;
}

#container {
  position: fixed;
  top:0;
  left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow:auto;
  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;
  align-items: center;
  box-sizing: border-box;
}

  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #eeff00 #8f54a0; 
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 30px;
  }

  *::-webkit-scrollbar-track {
    background:#8f54a0;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #eeff00;
    border-radius: 0px;
    border: 0px solid #000000;
  }

#container > * {
  top: 0;
  left: 0;
}

a {
  text-decoration: none;
  color:aliceblue;
}

a:hover {
  color: #fff700;
  text-decoration: underline;
}

#menu {
 
  padding: 0.5em 1em 0.5em 1em;
  display: flex;
  align-items:first baseline;
  justify-content: space-between;
  flex-direction: row;
  width: 100vw;
  text-decoration: none;
  color: aliceblue;
  background-color: #ff00eaee;
  align-self: flex-start;
  height: 1em;
  z-index: 666;
}

#title {
  justify-self:center;
}

#setup {
  /* justify-self:flex-end; */
}

.game-container {
  /* display: flex;
  align-items: center; */
  margin: 0.75em 0.75em 1em 0.75em ;
  padding: 0;
  /* max-height: 100vh; */
  box-shadow: var(--shadow-offset) var(--shadow-offset) 0px rgba(0, 0, 0, 0.75);
  transition: all .25s ease-out;
  /* flex-direction: column; */
  background-color: rgb(205, 168, 210);
  /* outline: #1dc3cc 3px solid; */
  /* aspect-ratio: 1 / 1; */
}

.game-container:focus {
  /* box-shadow: 1em 1em 0px rgba(0, 0, 0, 0.75) !important; */
  /* transform : translate(-0.5em, -0.5em); */
  /* animation: focus .2s none; */
  background-color: rgb(206, 71, 224);

  outline: none;
}

.removed {
  /* flex-grow: 0.00001; */
}

.game-selector-menu {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  width: 100%;
  justify-content:space-between;
  /* margin: 0.25em 0 0 0; */
  padding: 0;
}

.game-selector-menu > div > div:hover {
  color: #1dc3cc;
  cursor:pointer;
}

.game-selector-menu > div > div:active {
  color: #1dc3cc;
  cursor:grabbing;
}

.gamepad-selector {
  display: flex;
  flex-direction: row;
}

.action-selector {
  display: flex;
  flex-direction: row;
}

.gamepad-selector > .menu-item {
  margin: .15em .3em .15em 0;
  padding: 0 .25em 0 .25em;
}

.action-selector > .menu-item {
  margin: .15em 0 .15em .3em;
  padding: 0 .25em 0 .25em;
}

.menu-item {
  background-color: #ffffff;
  box-shadow: var(--shadow-offset) var(--shadow-offset) 0px rgba(0, 0, 0, 0.75);
}

.game-selector, .game-iframe { 
  display: block;
  flex-grow: 1;
  height: 100%;
  overflow-y: hidden;
  overflow-y: auto;
  width: 100%;
  border: 0;
}

.game-selector-item {
  background-color: transparent;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-overflow:clip;
  overflow: hidden;
  max-width: 512px;
  box-sizing: border-box;
}

/* .game-selector-item:hover {
  background-color: #fff700;
} */

.selected {
  background-color: #fff700 !important;
}

.selected:active {
  background-color: #c7c100 !important;
}

.selected:hover {
  cursor: pointer;
}

.game-selector-item.selected::after {
  content: ">";
  float: right;
}


.game-title {

}